img {
  max-width: 140px;
  border-radius: 50%;
}

// .profileContent.card-content-md {
//   background: var(--danger,#eb445a) !important;
//   ion-list {
//     background: var(--danger,#eb445a) !important;
//     ion-item.profileName {
//       --background: var(--danger,#eb445a) !important;
//     }
//   }
// }


.profileContent.card-content-md {
  background: #dfdfdf !important;
  ion-list {
    background: var(--primary-tint,#4c8dff) !important;
    ion-item.profileName {
      --background: var(--primary-tint,#4c8dff) !important;
    }
  }
}

.card-content {
  background: #f7f7f7;
}

.price-details {
  font-size: 13px;
  --min-height: 30px; 
  --border-style: dashed;
  ion-note {
    font-size: 10px;
  }
}

.thumbnail {
  border-radius: unset;
}