<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content fullscreen="true">
  
   <ion-grid *ngIf="homePageData.firstCarousel.img" class="ion-no-padding ion-no-margin firstCarousel">
      <ion-row>
        <ion-col size="12">    
          <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav>
            <ion-slide *ngFor="let image of homePageData.firstCarousel.img; index as pos">
              <img [src]="image ? image : '../assets/img/no_image.jpg'">
            </ion-slide>
          </ion-slides>
        </ion-col>    
      </ion-row>
    </ion-grid>

    
    <ion-grid *ngIf="homePageData.showCategorys" class="ion-no-padding ion-no-margin ion-margin-top">
      <ion-row>
        <ion-col >
          <ion-item  lines="none" color="secondary" class="ion-text-center">
            <ion-label class="mont-medium">Shop by Category</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" *ngFor="let category of homePageData.showCategorys; index as pos">    
          <ion-card routerLink="/app/tabs/schedule/session/category/{{category.category}}">
            <img [src]="category.img ? category.img : '../assets/img/no_image.jpg'">
            <ion-card-header>
              <ion-card-subtitle color="dark" class="mont-medium">{{category.category}}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>    
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="homePageData.secondCarousel.img" class="ion-no-padding ion-no-margin ion-margin-top">
      <ion-row>
        <ion-col size="12">    
          <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav>
            <ion-slide *ngFor="let image of homePageData.secondCarousel.img; index as pos">
              <img [src]="image ? image : '../assets/img/no_image.jpg'">
            </ion-slide>
          </ion-slides>
        </ion-col>    
      </ion-row>
    </ion-grid>

    
    <ion-grid *ngIf="homePageData.showBrands" class="ion-no-padding ion-no-margin ion-margin-top">
      <ion-row>
        <ion-col >
          <ion-item  lines="none" color="danger" class="ion-text-center">
            <ion-label class="mont-medium">Shop by Brands</ion-label>
          </ion-item>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" *ngFor="let brand of homePageData.showBrands; index as pos">    
          <ion-card routerLink="/app/tabs/schedule/session/brand/{{brand.brand}}">
            <img [src]="brand.img ? brand.img : '../assets/img/no_image.jpg'">
            <ion-card-header>
              <ion-card-subtitle color="dark" class="mont-medium">{{brand.brand}}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>    
      </ion-row>
    </ion-grid>
    
    <ion-grid class="ion-margin-bottom" style="margin-bottom:60px" *ngIf="homePageData.showBrands">
      <ion-row>
        <ion-col>
          <div>
          <ion-button size="full" routerLink="/app/tabs/allproducts" >VIEW ALL</ion-button>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>
