.check-mark ion-icon{
    font-size: 4.7rem;
}

.address {
    line-height: 1.5;
}

ion-content {
    --background: #f0f0f0;
    background: #f0f0f0;
}

ion-card-title {
    text-transform: capitalize;
}

.backBtn ion-icon{
  font-size: 1.5rem;
}

.check-mark,
.done {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}