ion-toggle {
    --background: #B2DDBB;
--background-checked: #F7B2BB;
--handle-background: #69bb7b;
--handle-background-checked: #eb445a;
  }

ion-toggle[name="showOnHome"] {
--background: #F7B2BB;
--background-checked: #B2DDBB;
--handle-background: #eb445a;
--handle-background-checked: #69bb7b;
  }

  :host ion-fab-button.myButton > button.button-native {
    --overflow: visible;
    --position: relative;

    ion-label.myLabel {
        position: absolute;
        top: -8px;
        right: 40px;

        color: white;
        background-color: rgba(0,0,0,0.7);
        line-height: 24px;
        padding: 4px 8px;
        border-radius: 4px;
    }
    contain: layout;
}

ion-fab[vertical="bottom"][horizontal="end"] ion-fab-list {
    right: 0;
    align-items: flex-end;
  }
  
  ion-fab-button[size="small"] {
    --size: 32px;
  }
  
  .custom-fab {
    display: flex;
    align-items: center;
  }
  ion-fab[horizontal="start"] .custom-fab {
    flex-direction: row-reverse;
  }
  .custom-fab ion-button {
    --height: 25px;
    text-transform: none;
  }
  
  ion-slide ion-icon {
    font-size: 40px;
    position: absolute;
    top: 0px;    
    left: 0;
  }

  ion-slides {
    height: 150px;
    --bullet-background: #000000;
    --bullet-background-active: #ffffff;
    ion-slide img{
       width: 100%;
       -o-object-fit: cover;
       object-fit: cover;
    }
  }

  ion-segment-button {
    color: #ffffff;
    --indicator-box-shadow: 0px -1px 5px 3px #fff;
  }

  .card-content {
    background: #f7f7f7;
  }
