<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/app/tabs/schedule"></ion-back-button> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar [hidden]="showClose">
    <ion-segment [(ngModel)]="segment" value="pending">
      <ion-segment-button value="pending">
        <ion-label>Pending</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>Completed</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card-content">
  <!-- Ongoing Orders -->
  
  <ion-card [hidden]="showClose" class="ion-no-padding ion-no-margin" *ngIf="segment === 'pending'">
    <ion-card-header>
      <ion-card-title>Ongoing Orders: {{activeOrdersCount}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding ion-no-margin card-content">
      <ion-virtual-scroll [items]="activeOrders">
        <ion-card class="" *virtualItem="let order; index as pos">
      <!-- <ion-card class="" *ngFor="let order of activeOrders; index as pos"> -->
          <ion-card-header>
            <ion-item lines="full" class="ion-no-padding ion-no-margin">
              <ion-label>
                <h3 class="mont-semibold">Order Id: {{order.orders.orderId}}</h3>
                <h3 class="mont-semibold">Ordered On: {{order.orders.order.createdAt._seconds * 1000 | date:'medium' }}</h3>
                <h3 class="mont-semibold">User: {{order.userData.username}}</h3>
                <h3 class="mont-semibold">Payment Id: {{order.orders.order.paymentId}}</h3>
                <h3 class="ion-float-left mont-semibold" color="success">Rs {{order.orders.order.total}}</h3>               
              </ion-label>
            </ion-item>
          </ion-card-header>
          <ion-card-content class="ion-no-padding ion-no-margin">
            <ion-list>
              <ion-item *ngFor="let product of order.orders.order.products">
                <ion-thumbnail slot="start">
                  <fiv-gallery #fivGallery (didOpen)="onImageOpen()" (didClose)="onImageClose()">
                  <ion-slides>
                      <!-- <ion-row> -->
                        <!-- <ion-col *ngFor="let image of product.details.img"> -->
                          <ion-slide *ngFor="let image of product.details.img">
                            <fiv-gallery-image
                              [src]="image ? image : '../assets/img/no_image.jpg'"
                            ></fiv-gallery-image>
                          </ion-slide>
                        <!-- </ion-col> -->
                      <!-- </ion-row> -->
                  </ion-slides>
                </fiv-gallery>
                </ion-thumbnail>
                <ion-label>
                  <h3>Product: {{product.details.name}}</h3>
                  <h3>Brand: {{product.details.brand}}</h3>
                  <h3>Quantity: {{product.count}}</h3>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-card-header>
              <ion-item>
                <ion-label>
                  <h3 class="ion-text-wrap"><span class="mont-semibold">Address: </span>{{order.userData.address}}</h3>
                  <h3 (click)="makeACall(order.userData.phone)"><span class="mont-semibold">Mob no:  </span> <span class="link">{{order.userData.phone}}</span></h3>
                </ion-label>
              </ion-item>
              <ion-item>
                <h3 class="mont-semibold"> Payment status: <ion-text [color]="order.orders.order.paymentMethod === 'COD' ? 'danger': 'success'">{{order.orders.order.paymentMethod === 'COD' ? 'Cash on Delivery' : 'Paid'}}</ion-text></h3>                
              </ion-item>
              <!-- <ion-item> -->
                <ion-grid class="ion-no-padding ion-no-margin ion-padding-top">
                  <ion-row>
                    <ion-col>
                      <ion-chip color="success" button (click)="setOrderStatus(order.orders.orderId,'delivered', pos)">                  
                        <ion-icon name="checkmark-done-circle"></ion-icon>
                        <ion-label>Mark as delivered</ion-label>
                      </ion-chip>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <div *ngIf="order.orders.order.message">
                        <ion-note>Given time: {{order.orders.order.message[0].dateTime | date:'medium'}}</ion-note>
                    </div>
                      <ion-chip color="danger" button (click)="presentMessageUserPage(order.orders.orderId)">
                        <ion-icon name="notifications-circle"></ion-icon>
                        <ion-label>Notify user about order</ion-label>
                      </ion-chip>
                      </ion-col>
                    </ion-row>

                </ion-grid>
                

                

              <!-- </ion-item> -->
            </ion-card-header>
          </ion-card-content>
        </ion-card>
        </ion-virtual-scroll>
        <ion-item lines="full" *ngIf="activeOrders?.length === 0">
          <ion-label >
            <h3>No ongoing orders</h3>
          </ion-label>
        </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- Ongoing Orders end -->

  <!-- Completed Orders -->
  <ion-card [hidden]="addingProduct || addingCategory" class="ion-no-padding ion-no-margin" *ngIf="segment === 'completed'">
    <ion-card-header>
      <ion-card-title>Custom Orders</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #filterForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label>{{status}}</ion-label>
          <ion-toggle name="status" (ionChange)="toggleStatus($event.detail.checked)"></ion-toggle>
        </ion-item>
      <ion-item>
        <ion-label>From Date</ion-label>
        <ion-datetime [(ngModel)]="fromDate" value="1990-02-19" placeholder="Select from date" name="fromdate" #fromdate="ngModel" required></ion-datetime>
      </ion-item>
      <ion-text color="danger">
        <p
          [hidden]="fromdate.valid || filterDataSubmitted == false"
          class="ion-padding-start"
        >
          From Date is required
        </p>
      </ion-text>
      <ion-item>
        <ion-label>To Date</ion-label>
        <ion-datetime [(ngModel)]="toDate"  value="1990-02-19" placeholder="Select to Date" name="todate" #todate="ngModel" required></ion-datetime>
      </ion-item>
      <ion-text color="danger">
        <p
          [hidden]="todate.valid || filterDataSubmitted == false"
          class="ion-padding-start"
        >
          To Date is required
        </p>
      </ion-text>
      <ion-row>
        <ion-col>
          <ion-button
            (click)="getOrdersByDate(filterForm)"
            type="submit"
            expand="block"
            >Get orders</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-list>
      </form>

      <ion-card [hidden]="addingProduct || addingCategory" class="ion-no-padding ion-no-margin" *ngIf="filteredOrders.length > 0">
        <ion-card-header>
          <ion-card-title>Filtered Orders</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content ion-no-padding">
          
          <ion-virtual-scroll [items]="filteredOrders">
            <ion-card *virtualItem="let order; index as pos">
          <!-- <ion-card class="" *ngFor="let order of filteredOrders; index as pos" class="ion-no-padding ion-no-margin ion-margin-bottom"> -->
              <ion-card-header >
                <ion-item lines="full" class="ion-no-padding ion-no-margin">
                  <ion-label>
                    <ion-note>Payment Id: {{order.orders.order.paymentId}}</ion-note><br/>
                    <ion-note>Ordered: {{order.orders.order.createdAt._seconds * 1000 | date:'medium' }}</ion-note><br/>
                    <ion-note *ngIf="order.orders.order.deliveredAt">Delivered: {{order.orders.order.deliveredAt?._seconds * 1000 | date:'medium' }}</ion-note>
                    <h3 class="mont-semibold">User: {{order.userData.username}}</h3>
                    <h3 class="mont-semibold success">Total: Rs {{order.orders.order.total}}</h3>
                        
                  </ion-label>
                </ion-item>
              </ion-card-header>
              <ion-card-content class="ion-no-padding ion-no-margin">
                <ion-list>
                  <ion-item *ngFor="let product of order.orders.order.products">
                    <ion-thumbnail slot="start">
                      <fiv-gallery #fivGallery (didOpen)="onImageOpen()" (didClose)="onImageClose()">
                      <ion-slides>
                         <!-- <ion-row>
                            <ion-col *ngFor="let image of product.details.img"> -->
                              <ion-slide *ngFor="let image of product.details.img">
                                <fiv-gallery-image
                                  [src]="image ? image : '../assets/img/no_image.jpg'"
                                ></fiv-gallery-image>
                              </ion-slide>
                            <!-- </ion-col>
                          </ion-row> -->
                      </ion-slides>
                    </fiv-gallery>
                    </ion-thumbnail>
                    <ion-label>
                      <h3>Product: {{product.details.name}}</h3>
                      <h3>Brand: {{product.details.brand}}</h3>
                      <h3>Quantity: {{product.count}}</h3>
                    </ion-label>
                  </ion-item>
                </ion-list>
                <ion-card-header>
                  <ion-item>
                    <ion-label>
                      <h3 class="ion-text-wrap"><span class="mont-semibold">Address: </span>{{order.userData.address}}</h3>
                      <h3><span class="mont-semibold">Mob no: </span> {{order.userData.phone}}</h3>
                    </ion-label>
                  </ion-item>
                </ion-card-header>
              </ion-card-content>
            </ion-card>
            </ion-virtual-scroll>
            <ion-item lines="full" *ngIf="filteredOrders?.length === 0">
              <ion-label >
                <h3>No orders</h3>
              </ion-label>
            </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  <!-- Completed Orders end -->

  
 <!-- Add product -->
  <ion-card class="ion-no-padding ion-no-margin card-content" *ngIf="addingProduct">
    <ion-card>
      <ion-text *ngIf="images.length == 0" class="ion-text-center">
        <h5 text-center>Please Select Image!</h5>
      </ion-text>

      <ion-list>
        <ion-row>
          <ion-col size="6" *ngFor="let img of images; index as pos" text-wrap>
            <ion-img [src]="img"></ion-img>
          </ion-col>
        </ion-row>
        <!-- <ion-thumbnail slot="start">
          
        </ion-thumbnail> -->
        <!-- <ion-label>
          {{ img.img_name }}
        </ion-label> -->

        <div class="ion-text-center">
          <ion-button
            *ngIf="images.length === 0"
            color="primary"
            (click)="presentUploadPage()"
          >
            <ion-icon slot="start" name="camera"></ion-icon>
            Add images</ion-button
          >
        </div>
        <!-- <ion-text>images {{ images}}</ion-text> -->
      </ion-list>
    </ion-card>

    <form #productForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Name</ion-label>
          <ion-input
            [(ngModel)]="product.name"
            name="name"
            type="text"
            #name="ngModel"
            required
          >
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p
            [hidden]="name.valid || submitted == false"
            class="ion-padding-start"
          >
            Name is required
          </p>
        </ion-text>

        <ion-item>
          <ion-label position="stacked" color="primary">Price</ion-label>
          <ion-input
            [(ngModel)]="product.price"
            name="price"
            type="number"
            #price="ngModel"
            required
          >
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p
            [hidden]="price.valid || submitted == false"
            class="ion-padding-start"
          >
            Price is required
          </p>
        </ion-text>

        <ion-item>
          <ion-label position="stacked" color="primary">MRP</ion-label>
          <ion-input [(ngModel)]="product.mrp" name="mrp" type="text" #mrp="ngModel" required>
          </ion-input>
          <ion-note>This is not selling price. Should be greater than price</ion-note>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="mrp.valid || submitted == false" class="ion-padding-start">
            MRP is required
          </p>
        </ion-text>

        <ion-item>
          <ion-label position="stacked" color="primary">Quantity</ion-label>
          <ion-input
            [(ngModel)]="product.pricePerQuantity"
            name="pricePerQuantity"
            type="text"
            #pricePerQuantity="ngModel"
            required
          >
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p
            [hidden]="pricePerQuantity.valid || submitted == false"
            class="ion-padding-start"
          >
            Quantity is required
          </p>
        </ion-text>

        <ion-item>
          <ion-label position="stacked" color="primary">Category</ion-label>
          <ion-select interface="popover" [(ngModel)]="product.category"  name="category " #category="ngModel" required>
            <ion-select-option *ngFor="let category of categories" value="{{category.category}}">{{category.category}}</ion-select-option>
          </ion-select>
          <!-- <ion-input
            [(ngModel)]="product.category"
            name="category"
            type="text"
            #category="ngModel"
            spellcheck="false"
            autocapitalize="off"
            required
          >
          </ion-input> -->
        </ion-item>
        <ion-text color="danger">
          <p
            [hidden]="category.valid || submitted == false"
            class="ion-padding-start"
          >
            Category is required
          </p>
        </ion-text>

        <ion-item>
          <ion-label position="stacked" color="primary">Brand</ion-label>
          <ion-select interface="popover" [(ngModel)]="product.brand"  name="brand " #brand="ngModel" required>
            <ion-select-option *ngFor="let brand of brands" value="{{brand.brand}}">{{brand.brand}}</ion-select-option>
          </ion-select>
          <!-- <ion-input
            [(ngModel)]="product.brand"
            name="brand"
            type="text"
            #brand="ngModel"
            required
          >
          </ion-input> -->
        </ion-item>
        <ion-text color="danger">
          <p
            [hidden]="brand.valid || submitted == false"
            class="ion-padding-start"
          >
            Brand is required
          </p>
        </ion-text>


        <ion-item>
          <ion-label position="stacked" color="primary">Description</ion-label>
          <ion-textarea rows="6" cols="20" placeholder="Enter products description here..."
                [(ngModel)]="product.description"  name="description " #description="ngModel" required
          ></ion-textarea>
        </ion-item>
        <ion-text color="danger">
          <p
            [hidden]="category.valid || submitted == false"
            class="ion-padding-start"
          >
          Description is required
          </p>
        </ion-text>
      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button
            (click)="addProduct(productForm)"
            type="submit"
            expand="block"
            >Add product</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
  <!-- Add product END -->


  <!-- Add Category -->
  <ion-card class="ion-no-padding ion-no-margin card-content" *ngIf="addingCategory">
    <ion-card>
      <ion-text *ngIf="catimages.length == 0" class="ion-text-center">
        <h5 text-center>Please Select Image!</h5>
      </ion-text>

      <ion-list>
        <ion-row>
          <ion-col size="6" *ngFor="let img of catimages; index as pos" text-wrap>
            <ion-img [src]="img"></ion-img>
          </ion-col>
        </ion-row>

        <div class="ion-text-center">
          <ion-button
            *ngIf="catimages.length === 0"
            color="primary"
            (click)="presentCatUploadPage()"
          >
            <ion-icon slot="start" name="camera"></ion-icon>
            Add images</ion-button
          >
        </div>
        <!-- <ion-text>images {{ images}}</ion-text> -->
      </ion-list>
    </ion-card>

    <form #categoryForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Category</ion-label>
          <ion-input
            [(ngModel)]="categoryData.category"
            name="category"
            type="text"
            #category="ngModel"
            spellcheck="false"
            autocapitalize="off"
            required
          >
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p
            [hidden]="category.valid || catSubmitted == false"
            class="ion-padding-start"
          >
            Category is required
          </p>
        </ion-text>
        <ion-item>
          <ion-label>Show on home page: {{categoryData.showOnHome}}</ion-label>
          <ion-toggle name="showOnHome" (ionChange)="categoryData.showOnHome = $event.detail.checked"></ion-toggle>
        </ion-item>
       
      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button
            (click)="addCategory(categoryForm)"
            type="submit"
            expand="block"
            >Add Category</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
  <!-- Add Category END -->

  <!-- Add Brand -->
  <ion-card class="ion-no-padding ion-no-margin card-content" *ngIf="addingBrand">
    <ion-card>
      <ion-text *ngIf="brandimages.length == 0" class="ion-text-center">
        <h5 text-center>Please Select Image!</h5>
      </ion-text>

      <ion-list>
        <ion-row>
          <ion-col size="6" *ngFor="let img of brandimages; index as pos" text-wrap>
            <ion-img [src]="img"></ion-img>
          </ion-col>
        </ion-row>

        <div class="ion-text-center">
          <ion-button
            *ngIf="brandimages.length === 0"
            color="primary"
            (click)="presentBrandUploadPage()"
          >
            <ion-icon slot="start" name="camera"></ion-icon>
            Add images</ion-button
          >
        </div>
        <!-- <ion-text>images {{ images}}</ion-text> -->
      </ion-list>
    </ion-card>

    <form #brandForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Brand</ion-label>
          <ion-input
            [(ngModel)]="brandData.brand"
            name="brand"
            type="text"
            #brand="ngModel"
            spellcheck="false"
            autocapitalize="off"
            required
          >
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p
            [hidden]="brand.valid || brandSubmitted == false"
            class="ion-padding-start"
          >
            Brand is required
          </p>
        </ion-text>
        <ion-item>
          <ion-label>Show on home page: {{brandData.showOnHome}}</ion-label>
          <ion-toggle name="showOnHome" (ionChange)="brandData.showOnHome = $event.detail.checked"></ion-toggle>
        </ion-item>

       
      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button
            (click)="addBrand(brandForm)"
            type="submit"
            expand="block"
            >Add Brand</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
  <!-- Add Brand END -->


  <!-- Add Homepage images -->
  <ion-card class="ion-no-padding ion-no-margin card-content" *ngIf="addingHome">
    <ion-card>
      <ion-card-header>
        <ion-card-title>First banner images</ion-card-title>
        <!-- <ion-card-subtitle>Maximum 3 images are allowed</ion-card-subtitle> -->
      </ion-card-header>
      <ion-text  class="ion-text-center">
        <h5 *ngIf="homePageData.firstCarousel.img.length === 0" text-center>Please Select Image!</h5>
        
      </ion-text>

      <ion-grid >
        <ion-row *ngIf="homePageData.firstCarousel.img.length > 0">
          <ion-col size="12">    
            <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav>
              <ion-slide *ngFor="let image of homePageData.firstCarousel.img; index as pos">
                <ion-icon name="close-circle" color="danger" (click)="deleteImage('firstCarousel', image, pos)"></ion-icon>
                <img [src]="image ? image : '../assets/img/no_image.jpg'">
                <!-- <span class="slide-text">Slide id {{s.id}}</span> -->
              </ion-slide>
            </ion-slides>
          </ion-col>    
        </ion-row>
        <ion-row>
          <div class="ion-text-center">
            <ion-button
            [hidden]="homePageData.firstCarousel.img.length === 3"
              color="primary"
              (click)="presentUploadForHome('firstCarousel')"
            >
              <ion-icon slot="start" name="camera"></ion-icon>
              Add images</ion-button
            >
          </div>
          <div>
            <ion-button size="full" (click)="addHomePageData('firstCarousel','img')">
                Update First banner
            </ion-button>
          </div>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Second banner images</ion-card-title>
        <!-- <ion-card-subtitle>Maximum 3 images are allowed</ion-card-subtitle> -->
      </ion-card-header>
      <ion-text  class="ion-text-center">
        <h5 *ngIf="homePageData.secondCarousel.img.length === 0" text-center>Please Select Image!</h5>
        
      </ion-text>

      <ion-grid >
        <ion-row *ngIf="homePageData.secondCarousel.img.length > 0">
          <ion-col size="12">    
            <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav>
              <ion-slide *ngFor="let image of homePageData.secondCarousel.img; index as pos">
                <ion-icon name="close-circle" color="danger" (click)="deleteImage('secondCarousel', image, pos)"></ion-icon>
                <img [src]="image ? image : '../assets/img/no_image.jpg'">
                <!-- <span class="slide-text">Slide id {{s.id}}</span> -->
              </ion-slide>
            </ion-slides>
          </ion-col>    
        </ion-row>
        <ion-row>
          <div class="ion-text-center">
            <ion-button
              [hidden]="homePageData.secondCarousel.img.length === 3"
              color="primary"
              (click)="presentUploadForHome('secondCarousel')"
            >
              <ion-icon slot="start" name="camera"></ion-icon>
              Add images</ion-button
            >
          </div>
          <div>
            <ion-button size="full" (click)="addHomePageData('secondCarousel','img')">
                Update Second banner
            </ion-button>
          </div>
        </ion-row>
      </ion-grid>
    </ion-card>
    <!-- second banner end -->

    <!-- categories -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Categories to show on home page </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let cat of newCategories; index as pos" [attr.category]="cat.name | lowercase">
              <ion-label class="ion-text-wrap">{{cat.name}}</ion-label>
              <ion-checkbox slot="end" [(ngModel)]="cat.isChecked" (ionChange)="ionCheckboxChange(cat.name,pos,$event,cat.id)"></ion-checkbox>
            </ion-item>
          
            <ion-button size="full" class="ion-margin-top" (click)="addHomePageData('showCategorys','category')">
              Update categories
          </ion-button>          
          </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- Categories end -->

    <!-- brand -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Brands to show on home page </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let brand of newBrands; index as pos" [attr.brand]="brand.name | lowercase">
              <ion-label class="ion-text-wrap">{{brand.name}}</ion-label>
              <ion-checkbox slot="end" [(ngModel)]="brand.isChecked" (ionChange)="ionCheckBrandsChange(brand.name,pos,$event,brand.id)"></ion-checkbox>
            </ion-item>
          
            <ion-button size="full" class="ion-margin-top" (click)="addHomePageData('showBrands','brands')">
              Update brands
          </ion-button>          
          </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- brand end -->

  </ion-card>
  <!-- Add HomePage END -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]="segment === 'completed'">
    <ion-fab-button [hidden]="showClose">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <div class="custom-fab" (click)="showAdding('product'); title='New product'">
        <ion-button>Product</ion-button>
        <ion-fab-button size="small" color="primary">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="custom-fab" (click)="showAdding('category'); title='New category'">
        <ion-button color="danger">Category</ion-button>
        <ion-fab-button size="small" color="danger">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="custom-fab" (click)="showAdding('brand'); title='New brand'">
        <ion-button>Brand</ion-button>
        <ion-fab-button size="small" color="primary">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="custom-fab" (click)="showAdding('homePage'); title='Update Home page'">
        <ion-button color="danger">Home page</ion-button>
        <ion-fab-button size="small" color="danger">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </div>
    </ion-fab-list>

    <ion-fab-button
      color="danger"
      (click)="closeAllAdding(); title='Orders'"
      [hidden]="!showClose"
    >
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>

    <!-- <ion-fab-button
      (click)="addingProduct = !addingProduct"
      [hidden]="addingProduct"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-button
      color="danger"
      (click)="addingProduct = !addingProduct"
      [hidden]="!addingProduct"
    >
      <ion-icon name="close"></ion-icon>
    </ion-fab-button> -->
  </ion-fab>
</ion-content>
