.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.loginPage{
  background: #ffffff !important;
  ion-list {
    background: var(--primary-tint,#4c8dff) !important;
    ion-item.profileName {
      --background: var(--primary-tint,#4c8dff) !important;
    }
  }
}

.forgot-password {
  font-size: 12px;
  text-decoration: underline;
}

.login {
  text-decoration: underline;
}