:root .mont-regular {
    --ion-font-family: 'Montserrat-Regular'!important;
    font-family: 'Montserrat-Regular'!important;
}

.mont-medium,
ion-header {
    --ion-font-family: 'Montserrat-Medium'!important;
    font-family: 'Montserrat-Medium'!important;
}

.mont-semibold {
    --ion-font-family: 'Montserrat-SemiBold'!important;
    font-family: 'Montserrat-SemiBold'!important;
}

.mont-extralight {
    --ion-font-family: 'Montserrat-ExtraLight'!important;
    font-family: 'Montserrat-ExtraLight'!important;
}

ion-toolbar {
    --background: var(--ion-color-primary); 
    --color: #ffffff;
}

.cart-action-sheet {
    --background: #e5e5e5;
    --button-background: #ffffff;
    button {
        margin:10px;
        width: 95% !important;
    }

    button:nth-child(2) ion-icon {
        color: #5f950d !important;
    }

    button:nth-child(3) ion-icon {
        color: #eb445a !important;
    }
  }

  .menu-toolbar {
    max-height: 170px;
    min-height: 170px;
  }

  .menu-toolbar .menu-title{
    position: absolute;
    bottom: 10px;
    text-shadow: 0 0 10px #fff;
    text-align: center;
    width: 100%;
    left: 0;
    font-size: 20px;
  }
  

  .loading-spinner {
      ion-backdrop{
        background-color: var(--ion-backdrop-color, #fff);
      }
    .loading-wrapper {
        background: transparent;
        box-shadow: none;
        padding: unset;
        width: 100%;
        --max-width: 350px;
    }
    img {
        width: 100%;
    }
  }