:root .mont-regular {
    --ion-font-family: 'Montserrat-Regular'!important;
    font-family: 'Montserrat-Regular'!important;
}

.mont-medium,
ion-header {
    --ion-font-family: 'Montserrat-Medium'!important;
    font-family: 'Montserrat-Medium'!important;
}

.mont-semibold {
    --ion-font-family: 'Montserrat-SemiBold'!important;
    font-family: 'Montserrat-SemiBold'!important;
}

.mont-extralight {
    --ion-font-family: 'Montserrat-ExtraLight'!important;
    font-family: 'Montserrat-ExtraLight'!important;
}

ion-toolbar {
    --background: var(--ion-color-primary); 
    --color: #ffffff;
}