.place_holder{
    background: url('../../../assets/img/no_image.jpg');
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
  }
.total{
  font-size: 16px;
}
.saved{
  font-size: 15px;
}

.quantity {
  padding-top: 5px;
 }
 
 .price {
   padding-top: 10px;
  }