.check-mark ion-icon{
    font-size: 4rem;
}

.address {
    line-height: 1.5;
}

ion-content {
    --background: #f0f0f0;
    background: #f0f0f0;
}

ion-card-title {
    text-transform: capitalize;
}

.backBtn ion-icon{
  font-size: 2rem;
}